* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero */
.hero {
  height: 100vh;
  background-image: url("../img/book-and-pen-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
